{% extends 'admin/admin.html.twig' %}
{% block menu %}
    {% include 'admin/menu.html.twig' %}
{% endblock %}

{% block body %}
    <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h1 class="box-title">Product: {{sanpham.tensp}}</h1>
            </div>
            <!-- /.box-header -->
    <div class="box-body table-responsive no-padding" id="table_id" >
      <div class="table_id">
       <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Id:</th>
                            <td>{{sanpham.id }}</td>
                        </tr>
                        <tr>
                            <th>Loại SP:</th>
                            <td>{{ sanpham.loaisp.tenloai }}</td>
                        </tr>
                        <tr>
                            <th>Tên SP:</th>
                            <td>{{ sanpham.tensp }}</td>
                        </tr>
                        <tr>
                            <th>Giá:</th>
                            <td>{{ sanpham.gia }}</td>
                        </tr>
                        <tr class="table-image">
                            <th class="table-image">Image:</th>
                            <td class="table-image">{% for img in sanpham.images %}
                                <img src="{{ asset('bundles/app/images/'~img.tenhinh)}}" width="70" height="70">
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Mô tả:</th>
                            <td>{{ sanpham.mota | raw }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                        <a href="{{ path('product_index') }}" class="btn btn-primary" >Back to the list</a>
                        <a href="{{ path('product_edit', { 'id': sanpham.id }) }}" class="btn btn-warning">Edit</a>
                        <a class="deleteUser btn btn-danger" href="#" >Delete</a>
                 </ul>
      </div>

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    
{% endblock %}
