{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet"  href="{{ asset('bundles/app/css/style.css')}}">
{% endblock %}

{% block body %}

{% if error %}
    <div class="alert alert-danger" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
  <div class="body"></div>
        <div class="grad"></div>
            <div class="header">
            <div>Sym<span>fony</span></div>
        </div>
        <br>
        <div class="login">
                <input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}" /><br>
                <input type="password" id="password" placeholder="password" name="_password"><br>
                {% if error %}
                    
                    <div class="alert " >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="submit" value="Login"/><br><br>
                <a href="{{ path('forgot') }}">Forgot Password</a><br><br>
                <a href="{{ path('register') }}">Register</a>
                
    </div>

</form>
{% endblock %}

