{% extends 'theme.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/app/css/products.css') }}">
{% endblock %}

{% block body %}
<div class="content">
  <div class="container">
  <h2 class="tittle">{{ product.tensp }}</h2>
  	<div class="row">
      <div>
        <a style="margin-bottom: 10px" class="btn pull-right btn-default" href="{{ path('homepage') }}">Back to the list</a>
      </div>
      <div class="col-md-4">
      			<img src="{{  asset() }}" alt="image" class="img-fluid img-thumbnail">
      		</div><!-- end of col-md-4 -->

      		<div class="col-md-8">
      			<h2>${{ product.gia }}</h2>
            	<h4>{{ product.mota}}<h4>
    </div><!--end of row -->
  </div>
</div>
{% endblock %}
